/* Additional Custom Styles */
.btn-custom {
  background-color: #e0e1e3;
  color: black;
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.fc-daygrid-day.fc-available {
  background-color: blue !important;
}
