.fc-event-blue {
  background-color: #cef2f4 !important;
  color: #000 !important;
  text-align: center;
}

.fc-event-red {
  background-color: #9df5b5 !important;
  color: #000 !important;
  text-align: center;
}
.fc-today-button:not(:disabled){
 float: none !important;
}
.fc-event-green {
  background-color: green !important;
  color: #000 !important;
  text-align: center;
}

.fc-event-coach-booked{
  background-color: #cef2f4 !important;
  color: #000 !important;
  text-align: center;
}
.fc-event-coach-available{
    background-color: #111F4A !important;
    color: #fff !important;
    text-align: center;
  
}
.fc .fc-button:not(:disabled){
border: none !important;
}

.fc-event-lilac {
  background-color: #B46DB880 !important;
  color: #fff !important;
  text-align: center;
}

.fc-event-time {
  display: none;
}

.unavailable-day {
  background-color: #f1f0f0;
  color: #f1f0f0 !important;
  pointer-events: none;
}

.checkbox-antd {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  padding: auto;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 100%;
  accent-color: #f2aa93;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc .fc-button:not(:disabled) {
  float: right;
}

.fc .fc-toolbar {
  align-items: stretch;
}
.fc-button {
  border: none !important; /* Removes the border */
  box-shadow: none !important; /* Removes any shadow effects */
}

.fc-button:hover {
  border: none !important; /* Ensures no border appears on hover */
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .fc-toolbar {
    flex-direction: column;
  }
  .fc-prev-button {
    background: none !important;
    border: none !important;
    color: #000 !important;
    margin-top: -45% !important;
  }

  .fc-next-button {
    background: none !important;
    border: none !important;
    color: #000 !important;
    margin-top: -45% !important;
  }
 
  .fc .fc-toolbar-title {
    font-size: 12px !important;
    margin-left: 10px !important;
  }
  .fc .fc-col-header-cell-cushion{
    color : #999 !important ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .fc .fc-scrollgrid-section > * {
    border-width: 0 !important;
  }
  .fc .fc-scrollgrid-liquid{
    border: none !important;
  }
  .fc-toolbar-title{
    margin-top: -5% !important;
  }
  .fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
    margin-left: 30%;
  }

  .fc-dayGridMonth-button {
    margin-top: -13% !important;
    background: #01EEFE !important;
    border: none !important;
  }

  .fc-today-button {
    background: #C2E6F8 !important;
    border: none !important;
    margin-top: -10% !important;
    margin-left: 150px !important;

  }

  .fc-event-lilac {
    background-color: #B46DB880 !important;
    color: #B46DB880 !important;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: auto !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fc .fc-daygrid-event {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .fc .fc-toolbar-title {
    font-size: 16px;
  }

  .fc .fc-daygrid-day {
    height: auto;
  }

  .fc-event {
    font-size: 10px;
    padding: 2px;
  }
  .fc-prev-button {
    background: none !important;
    border: none !important;
    color: #000 !important;
    margin-top: -40% !important;
  }

  .fc-next-button {
    background: none !important;
    border: none !important;
    color: #000 !important;
    margin-top: -40% !important;
  }
  .fc-today-button {
    background: #C2E6F8 !important;
    border: none !important;
    margin-top: -10% !important;
    margin-left: 200px !important;

  }
  .fc-dayGridMonth-button {
    margin-top: -14% !important;
    background: #01EEFE !important;
    border: none !important;
  }

  .fc-today-button {
    background: #C2E6F8 !important;
    border: none !important;
    margin-top: -10% !important;
    margin-left: 100px !important;
  }
  .fc .fc-daygrid-day-number{
    color: #111F4A;
  }

}


