.full-width-container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
} 
  .column-1 {
    position: relative;
    height: 100vh;
    border-top-right-radius: 50px;
    /* overflow: hidden; */
  }
  .ant-form-item-required::before {
    display: none;
  }
  .ant-input {
    height: 42px;
    text-align: left;
    border-color: #000;
}
  .ant-form-item-required{
    margin-left: 20%;
    text-align: left;
  }
  .ant-upload-drag p.ant-upload-drag-icon {
    color: black;
  }
  .ant-form-item-label > label::after {
    content: "*";
    color: #ff4d4f; /* Optional: Customize color */
    margin-left: 4px; /* Adjust spacing between label and * as needed */
}
  .column-2 {
    overflow-y: auto;
    height: 100%; 
    display: flex;
    overflow: scroll;
  }
  form.user .form-control-user{
    border-color: #000;
  }
  .form-scrollable {
    overflow-y: auto; /* Add scroll only to the form container */
    flex: 1;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  a
  .image-container {
    padding: 0 20% 0 20%;

    /* position: relative; */
    border-radius: 20px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 20px;
  }
  
  .image-1 {
    top: 0;
    z-index: 1;
    border-radius: 10%;
    padding: auto;
  }
  
  .image-2 {
    bottom: 0;
    z-index: 0;
    margin-top: -200px;
    margin-left: 70px;

  }
  