.back-button {
  margin-left: 10px;
  float: right;
  background: #fff;
  border: 1px solid #01acee;
  height: 48px;
  color: #01acee;
  padding: 15px;
  border-radius: 10;
}
.back-button:hover {
  background: none;
  border-color: 1px solid #01acee;
  color: #01acee;
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: none;
  border: 1px solid #01acee;
}
.submit-button {
  margin-left: 10px;
  float: right;
  background: #008000;
  height: 48px;
  width: 125px;
  border-radius: 10;
}
.submit-button:hover {
  background: #008000 !important;
  border: 1px solid #008000 !important;
}
.previous-button {
  margin-left: 10px;
  height: 48px;
  padding: 15px;
  border-color: red;
  border-radius: 10;
  color: red;
  background: none !important ;
}
.save-button {
  margin-left: 10px;
  float: right;
  border-color: #01acee;
  background: #01acee;
  color: #fff;
  height: 48px;
  border-radius: 10;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background: #01acee;
  border: 1px solid #01acee;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-item {
  width: calc(
    50% - 10px
  ); /* Adjust the width to 50% minus the gap to create two columns */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ant-checkbox-inner {
  background: #01acee;
}
.next-button {
  margin-left: 10px;
  float: right;
  background: #01acee;
  height: 48px;
  width: 125px;
  border-radius: 10;
}
.input_questtionnaire {
  width: 486px;
  margin-bottom: 5px;
  border-color: #bcbcbc;
  font-size: 15px;
}
.ranking_input {
  width: 200px;
  margin-bottom: 5px;
  border-color: #bcbcbc;
  font-size: 15px;
}
.ranking_select {
  width: 150px;
  margin-bottom: 5px;
  height: 41px;
  border-color: #bcbcbc;
  font-size: 15px;
}
.ranking_body {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: "space-between";
}
.select_questtionnaire {
  width: 150px;
  margin-bottom: 5px;
  height: 41px;
  border-color: #bcbcbc;
  font-size: 15px;
}
.assessment-container {
  width: 90%;
  max-width: 90%;
}
.ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content{
  width: 200px;
  padding: 10px;
}
.ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-tail {
  top: 0;
}
@media (max-width: 768px) {
  .previous-button,
  .submit-button,
  .save-button,
  .back-button,
  .next-button {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-top: 10px;
  }
  .input_questtionnaire {
    max-width: 100%;
    width: 100%;
  }

  .ranking_input {
    max-width: 100%;
    width: 100%;
  }
  .ranking_select {
    max-width: 100%;
    width: 100%;
  }
  .ranking_body {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: "space-between";
  }
  .assessment-container {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
  }
  .ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content{
    width: 100%;
    padding-top: 10px;
  }
}
.info-box {
  border: 1px solid #335cad;
  border-radius: 5px;
  padding: 16px;
  width: 80%;
  background-color: #fff;
  margin-bottom: 30px;
}

.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.info-icon {
  font-size: 16px;
  color: #335cad;
  margin-right: 8px;
}

.info-title {
  margin: 0;
  color: #335cad;
}

.info-list {
  padding-left: 20px;
}

.info-list li {
  margin-bottom: 4px;
}

strong {
  color: #335cad;
}
.assessment-container .assessment-header {
  background-color: #335cad;
  border-radius: 12px 12px 0 0;
  height: 61px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.assessment-container .assessment-header h2 {
  color: #fff;
  font-size: 15px;
  margin: 0;
}

.assessment-container .assessment-content {
  padding: 16px 24px;
  border: 1px solid #c2e6f8;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.assessment-container .assessment-content .assessment-progress {
  color: red;
  display: block;
  margin-bottom: 20px;
}

.assessment-container .assessment-content .assessment-card {
  cursor: pointer;
  border-radius: 20px;
  background-color: #f2aa93;
  overflow: hidden;
  position: relative;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.assessment-container .assessment-content .assessment-card:hover {
  transform: translateY(-5px);
}

.assessment-container .assessment-content .assessment-card.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.assessment-container .assessment-content .assessment-card .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-bottom: 10px;
}

.assessment-container .assessment-content .assessment-card .card-image img {
  width: 60%;
  height: auto;
}

.assessment-container .assessment-content .assessment-card .card-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
