@media (max-width: 768px) {

    .ant-col-xs-20 {
        max-width: 100%;
        flex: auto;
    }

    .ant-col-xs-12 {
        max-width: 100%;
        flex: auto;
    }
    .subscription-image{
        display: none;
    }
    .ant-col-12{
        max-width: 100%;
        flex: auto;
    }
}