.h3-admin-title {
  color: rgb(51, 92, 173);
  margin-bottom: 2vh;
}

.p-search-headers {
  margin-right: 7px;
}

.inbox-big-div {
  height: 75vh;
  border: 3px solid #C2E6F8; 
  border-radius: 10px;
}

.inbox-content-div {
  display: flex;
  padding: 10px;
}

.inbox-bottom-border {
  border-bottom: 3px solid #C2E6F8;
}

.inbox-list-item {
  display: flex !important; 
  flex-direction: column !important;
  align-items: flex-start !important; 
  border-block-end: 3px solid #C2E6F8 !important; 
  padding: 10px !important;
  overflow-wrap: anywhere;
}

.inbox-read-item {
  background-color: #E2E8F0 
}

.inbox-selected-item {
  background-color: #CEF2F4
}
.ant-popover-content{
  width: 200px !important;
}

/* .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  background: #d9f3f8 !important;
} */
@media only screen and (max-width: 768px) {
  /* .container-fluid div:first-child{
    margin: 2rem 0rem !important;
  } */
   #searchWrapper, .searchWrapper{
    flex-direction: column;
   }
  .ant-table {
    display: block;
  }

  .ant-table-content {
    display: block;
    overflow: auto;
  }

  .ant-table-tbody > tr > td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    display: table-cell;
  }
  .ant-table-tbody > tr > td span[role="img"]{
    cursor: pointer;
  }
  .ant-table-tbody > tr > td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
  .ant-table-thead {
    width: 100%;
    display: table-row-group;
  }
  .ant-table-wrapper table {
    width: 100%;
  }
}
