.ant-table-tbody > tr > td {
  background-color: #fff;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #d9f3f8;
  text-align: left;
}
.ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  background: #d9f3f8 !important;
}
@media only screen and (max-width: 768px) {
  .ant-table {
    display: block;
  }

  .ant-table-content {
    display: block;
  }

  .ant-table-tbody > tr > td {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
  }

  .ant-table-tbody > tr > td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
  .ant-table-thead {
    width: 100%;
    display: none;
  }
  .ant-table-wrapper table {
    width: 50%;
  }
}
