.ant-layout .site-layout {
  background: #fff;
}
.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}
.ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  margin-inline-start: 0 !important;
}
.ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-icon {
  margin-inline-start: 0 !important;
}
.ant-steps-item{
  /* width: 15%; */
}
.ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-tail{
  top: 8px !important;
}
.ant-steps-item-title{
height: 150px;
flex-direction: column;
}
ul{
  padding: 0%;
}
.ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content {
  width: 100% !important;
}
@media (max-width: 768px) {
  .ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content {
    width: 100px !important;
  } 
  .ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content {
    width: 150px  !important;
  }
}

.ant-steps-item-title{
  display: block !important; 
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #01acee !important;
}